*{
    margin: 0;
    font-family: "K2D", cursive;
}

body{
    background: rgba(217, 217, 217, 1);
}

.nav-bar{
    display: flex;
    position: sticky;
    align-items: center;
    padding: 10px;
    background: rgba(150, 42, 42, 1);
    box-shadow: 0px 4px 5px 0px rgba(191,122,122,0.71);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(191,122,122,0.71);
    -moz-box-shadow: 0px 4px 5px 0px rgba(191,122,122,0.71);
}

.nav-bar-left{
    display: flex;
    align-items: center;
}

.nav-bar-left > *{
    margin-left: 30px;
}

.nav-bar-left p{
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.nav-bar-left a{
    text-decoration: none;
}

.nav-bar-left p:hover{
    color: rgb(165, 148, 148);
}

.nav-bar-right{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}

.nav-bar-right .lecturer-name{
    margin-right: 60px;
    color: white;
    font-weight: 600;
}

.nav-bar-right button{
    border-radius: 15px;
    padding: 6px;
    width: 70px;
    border: none;
    cursor: pointer;
}

.nav-bar-right button:hover{
    background: grey;
}

.history-container-lecturer{
    border: 3px solid black;
    margin-top: 60px;
    width: 180vh;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    background: white;
    border: none;
    border-radius: 20px;
    overflow-y: auto;
    box-shadow: 100px 4px 5px 100px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 100px 4px 5px 0px rgba(0, 0, 0, 0.71);

}

.myrequest-container-lecturer{
    /*border: 3px solid blue;*/
    height: 76vh;
    width: 80vh;
    
}

.title-lecturer{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    font-weight: 600;
}

.request-list{
    border: 3px solid black;
    height: 14vh;
    border-radius: 20px;
    margin-top: 30px;
    background: rgba(217, 217, 217, 1);
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.request-list:hover{
    background: rgb(224, 224, 224);
    transform: scale(1.08);
}

.request-list-left{
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
}

.request-list-right{
    margin-left: auto;
    margin-right: 26px;
}

.submit-date-time{
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.submit-date-time-right{
    margin-left: 2px;
    margin-top: 2px;
}

.request-list-right #view-button-myrequest{
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    width: 16vh;
    text-align: center;
    border: none;
    color: white;
    background: rgb(37, 159, 0);
    cursor: pointer;
    margin-right: 8px;

}

.request-list-right #view-button-myrequest:hover{
    background: rgb(62, 130, 10);
}

/*////////////////////////professordetails////////////////////////*/
.form-container{
    /*border: 3px solid black;*/
    margin-top: 60px;
    height: 200vh;
}

#requestform{
    /*border: 3px solid blue;*/
    height: 194vh;
    width: 166vh;
    margin-right: 40px;
    margin-left: 110px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 100px 4px 5px 100px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 100px 4px 5px 0px rgba(0, 0, 0, 0.71);
}

.header{
    margin-top: 40px;
}

.header h1{
    text-align: center;
    font-size: 2em;
}

.header-detail{
    margin-top: 32px;
    margin-left: 80px;
    font-size: 20px;
}

.subject{
    margin-left: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 47px;
}

.subject input{
    font-size: 20px;
    margin-left: 14px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    border: none;
}

.dear{
    margin-left: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.dear input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    border: none;
}

.first-line{
    display: flex;
    margin-left: 80px;
    margin-top: 60px;
}

.name, .student-id{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.name input, .student-id input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    border: none;
}

.student-id{
    margin-left: 20px;
}

.academicyear{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.academicyear input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    border: none;
    width: 20vh;
}

.second-line{
    display: flex;
    margin-left: 80px;
    margin-top: 20px;
}

.address input, .district input{
    width: 10vh;
}

.region input, .province input{
    width: 10vh;
}

.department, .address{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.department input, .address input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    border: none;
}

.address{
    margin-left: 8px;
}

.district, .region{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.district input, .region input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    border: none;
}

.district, .region{
    margin-left: 8px;
}

.province{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.province input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    border: none;
}

.province{
    margin-left: 8px;
}

.third-line{
    margin-top: 40px;
    margin-left: 80px;
}

.topic{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.topic input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    border: none;
    width: 44vh;
}

.topic select{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    border: none;
}

.topic option{
    text-align: center;
}

#common-fields{
    border: 3px black solid;
    margin-left: 80px;
    height: 20vh;
    margin-top: 40px;
    width: 148vh;
    border-radius: 14px;
    background: rgba(217, 217, 217, 1);
    border: none;
}

.semester{
    margin-top: 40px;
    margin-left: 40px;
}

.semester{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.semester input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgb(241, 239, 239);
    border: none;
}

.common-second-line{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.subject-id{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.subject-id input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgb(241, 239, 239);
    border: none;
}

.subject-name{
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.subject-name input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgb(241, 239, 239);
    border: none;
}

.section{
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.section input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgb(241, 239, 239);
    border: none;
}

.hidden{
    display: none;
}

#resignation-fields{
    border: 3px black solid;
    margin-left: 80px;
    margin-top: 40px;
    width: 148vh;
    border-radius: 14px;
    background: rgba(217, 217, 217, 1);
    border: none;
    height: 26vh;
}

.semester-resignation{
    margin-top: 20px;
    margin-left: 40px;
}

.semester-resignation{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.semester-resignation input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgb(241, 239, 239);
    border: none;
}

.common-second-line-resignation{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
}

.subject-id-resignation{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.subject-id-resignation input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgb(241, 239, 239);
    border: none;
}

.subject-name-resignation{
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.subject-name-resignation input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgb(241, 239, 239);
    border: none;
}

.text-resignation{
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
}

.resignation-fourth-line{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.no-outstanding-debt, .outstanding-debt{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.no-outstanding-debt label, .outstanding-debt label{
    margin-left: 6px;
}

.no-outstanding-debt input[type="checkbox"], .outstanding-debt input[type="checkbox"]{
    transform: scale(1.6);
}

.outstanding-debt input{
    margin-left: 40px;
}

.amount{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 20px;
}

.amount input{
    font-size: 20px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgb(241, 239, 239);
    border: none;
    width: 16vh;
}

.amount label{
    margin-left: 6px;
}

#other-fields{
    margin-left: 80px;
    margin-top: 40px;
}

#other-fields textarea{
    width: 148vh;
    height: 20vh;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    font-size: 20px;
    resize: none;
    border: none;
}

#other-fields textarea::placeholder{
    padding: 26px;
}

.reason{
    margin-top: 40px;
    margin-left: 80px;
}

.reason-text{
    font-size: 20px;
}

.reason-area{
    margin-top: 16px;
}

.reason-area textarea{
    width: 148vh;
    height: 20vh;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    font-size: 20px;
    resize: none;
    border: none;
}

/*adding part*/
.lecturer-reason{
    margin-top: 40px;
    margin-left: 80px;
}

.lecturer-reason-text{
    font-size: 20px;
}

.lecturer-reason-area{
    margin-top: 16px;
}

.lecturer-reason-area textarea{
    width: 148vh;
    height: 20vh;
    border-radius: 8px;
    background: rgba(217, 217, 217, 1);
    font-size: 20px;
    resize: none;
    border: none;
}
/*adding part*/

.end-message{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 40px;
}

.end-message-second{
    margin-top: 40px;
    margin-left: 390px;
}

.file-submit{
    margin-top: 50px;
    display: flex;
    margin-left: 40px;
    align-items: center;
}

.file{
    display:flex;
    flex-direction: column;
    background: rgba(217, 217, 217, 1);
    border-radius: 14px;
    padding: 10px;
    height: 8vh;
    font-size: 20px;
}

.file > *{
    margin-bottom: 10px;
    cursor: pointer;
}

.file:hover{
    background: rgb(184, 177, 177)
}

#file-constraints{
    margin-left: 44px;
    color: rgb(97, 91, 91);
}

.file-submit #reject-button-professordetails{
    margin-left: 600px;
    font-size: 20px;
    border-radius: 14px;
    width: 20vh;
    height: 6vh;
    border: none;
    color: white;
    background: rgb(255, 18, 18);
    cursor: pointer;
}

.file-submit #reject-button-professordetails:hover{
    background: rgb(178, 27, 27);
}

.file-submit #approve-button-professordetails{
    margin-left: auto;
    margin-right: 60px;
    font-size: 20px;
    border-radius: 14px;
    width: 20vh;
    height: 6vh;
    border: none;
    color: white;
    background: rgba(61, 168, 122, 1);
    cursor: pointer;
}

.file-submit #approve-button-professordetails:hover{
    background: rgb(49, 122, 90);
}

#file-list-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 20px;
    max-height: 300px; 
    overflow-y: auto;  
    background-color: rgba(217, 217, 217, 1);
    border-radius: 8px;
    border: none;
}

#file-list-container li {
    padding: 8px 10px;
    margin-left: 4px;
    background-color: rgba(217, 217, 217, 1);
}
